@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css"; */



@import "tailwindcss";


*{
    font-family:"Poppins", sans-serif ;
}

@theme {
    --color-primary:#1F7B6F;
    --color-primary-dull:#44ae7c;
}

.custom-date .ant-picker-input > input {
  background-color: #e9f2f1 !important; /* input bg */
  color: #0b8a7d !important;            /* text color */
}

.custom-date {
  background-color: #e9f2f1 !important; /* outer wrapper */
  border-radius: 4px !important;
  border: none !important;
  height: 42px; /* optional */
}

/* .custom-date:hover,
.custom-date:focus,
.custom-date.ant-picker-focused {
  border: 1px solid #0b8a7d !important;
  box-shadow: 0 0 0 2px rgba(0, 150, 136, 0.2) !important;
} */
